@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="m-auto d-flex flex-column align-items-center justify-content-center pb-5">
    <h3 class="mt-3">Your are Not Authorized</h3>

    <a class="btn btn-primary mt-3" href="/">Home</a>
</div>

<style scoped>
    h3 {
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
    }
</style>
