@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    html, body {
        width: 100vw;
        height: 100vh;
        background: #FFA17F; /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #00223E, #FFA17F); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #ForgotWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        max-width: 300px;
        min-height: 450px;
        margin-top: 30px;
        background-color: white;
        border-radius: 7px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.64);
        box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.64);
    }


    .ForgotContainer {
        width: 100%;
        max-width: 250px;
        min-height: 130px;
    }

    h1 {
        font-size: 30px;
    }


    .text-danger {
        font-size: 12px;
    }
</style>


<div id="ForgotWrapper" class="d-flex flex-column justify-content-center">
    <h1 class="mb-4 font-weight-bold">Forgot Password</h1>
    <form id="forgotPassword" method="post" class="ForgotContainer mt-4 ml-auto mr-auto d-flex flex-column align-items-center justify-content-between">
        <div class="mb-0 flex-grow-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </div>
                </div>

                <input placeholder="Email" asp-for="Input.Email" class="form-control d-inline w-auto" />

            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary rounded">Remind</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}